**/.DS_Store
**/__pycache__
**/*.pyc
.git
.gitignore
.vscode
.idea
dev/

backend/.venv
backend/.pytest_cache
backend/data
backend/tests
backend/e2e

frontend/node_modules
frontend/dist
**/*.tsbuildinfo
