<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Crowdsource DJ</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/normalize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/skeleton.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/app.css') }}">
  <!-- FAVICON -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}">

</head>

<body>
  <div class="container">
    <div class="sticky">
      <section class="header">
        <h1>Crowdsource DJ</h1>
      </section>
      <div class="row">
        <div class="nine columns">
          <input class="u-full-width" type="url" placeholder="Start with a song or playlist " id="search-or-url-input">
        </div>
        <div class="three columns">
          <input class="button-primary u-full-width" id="search-btn" type="submit" value="Add to Queue">
        </div>
      </div>
    </div>
    <div id="queue-div"></div>

  </div>
  <div class="player-container row">
    <audio id="audio"></audio>
    <div class="controls">
      <div class="three columns">
        <button id="previous" class="control-btn">
          <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
            <path d="M22 24l-18-12 18-12v24zm-19-24v24h-1v-24h1zm2.803 12l15.197 10.132v-20.263l-15.197 10.131z" />
          </svg>
        </button>
        <button id="play-pause" class="control-btn">
          <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
            <path d="M23 12l-22 12v-24l22 12zm-21 10.315l18.912-10.315-18.912-10.315v20.63z" />
          </svg>
        </button>
        <button id="next" class="control-btn">
          <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
            <path d="M2 24l18-12-18-12v24zm19-24v24h1v-24h-1zm-2.803 12l-15.197 10.132v-20.263l15.197 10.131z" />
          </svg>
        </button>
      </div>
      <div class="progress-container nine columns">
        <input type="range" id="progress" value="0" min="0" step="0.1" />
        <div class="time">
          <span id="current-time">0:00</span> /
          <span id="duration">0:00</span>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../static/js/audioPlayer.js"></script>
<script src="../static/js/queue.js"></script>
<script src="../static/js/main.js"></script>

</html>